// Estilos para el modal (opcional)
mat-dialog-content {
    min-width: 300px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .snack-success {
    background-color: green;
  }
  
  .snack-error {
    background-color: red;
  }
  